body{
  background-image: url(https://img.freepik.com/free-vector/realistic-neon-lights-background_52683-59947.jpg?w=826&t=st=1678215028~exp=1678215628~hmac=e7cbda79d2cd433bcff7de5c44303be027d6585d015450802b45f6952fd4e6e3);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#links {
  background-color: whitesmoke;
  border: 3px black solid;
  text-align: center;
  ;
}
ul.nav {
  padding-left: 0px;
  border: 3em;
  border-color: black;
  text-align: center;
}
ul.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.nav > li:hover{
  background-color: lightblue;
}
ul.nav > li > a {
  color: black;
  text-decoration: none;
}

