body{
  background-image: url(https://img.freepik.com/free-vector/realistic-neon-lights-background_52683-59947.jpg?w=826&t=st=1678215028~exp=1678215628~hmac=e7cbda79d2cd433bcff7de5c44303be027d6585d015450802b45f6952fd4e6e3);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.SignUp{
  background-color: rgb(226, 43, 159);
  border: 1px solid black;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 4px #44b7dd);
  
}

h1{
  margin: auto;
  text-align: center;
  font-size: 10vh;
  -webkit-text-stroke: 1px black;
  text-shadow: .5vh .5vh #44b7dd;
  color:rgb(226, 43, 159)
}

#links {
  background-color: rgb(255, 0, 230);
  border: 3px black solid;
  text-align: center;
  ;
}
ul.nav {
  padding-left: 0px;
  border: 3em;
  border-color: black;
  text-align: center;
}
ul.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.nav > li:hover{
  background-color: rgb(43, 202, 226);
}
ul.nav > li > a {
  color: black;
  text-decoration: none;
}

button.pink_button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(216, 19, 19);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

